.b-page-accordion-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid #3213084D;
}

.b-page-accordion-head svg {
  transition: .6s;
}

.b-page-accordion-head svg {
  transform: rotate(180deg);
}

.open .b-page-accordion-head svg {
  transform: rotate(0deg);
}

.b-page-accordion-head__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #2D1106;
}

.b-page-accordion-head-body {
  padding-top: 24px;
  overflow: hidden;
  transition: max-height 0.6s ease;
  max-height: 0;
}

.b-page-accordion-head-body__text {
  font-size: 14px;
  line-height: 20px;
  color: #00000099;
}